$iconsBezier: cubic-bezier(0.42, 0, 1, -0.54);

// icons
.display {
    transform: scale(0);
    opacity: 0; // Set initial opacity to 0
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.page-in {
    .icons {
        &:first-child {
            opacity: 0.1;
        }

        &:nth-child(1) {
            opacity: 0.2;
        }

        &:nth-child(2) {
            opacity: 0.3;
        }
        &:last-child {
            opacity: 0.2;
        }
    }
}

.inner {
    &:nth-child(4) {
        scale: 3;
    }
}

.icons__icon {
}
@keyframes iconsIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

body {
    background-color: #0d0d0d;
}
.docs {
    .left-sidebar {
        animation: fadeIn 2s forwards;
    }

    main {
        animation: fadeIn 2s forwards;
    }

    aside {
        animation: fadeIn 2s forwards;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}
.initialHide {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes backInDown {
    0% {
        opacity: 0.7;
        -webkit-transform: translateY(-1200px) scale(0.7);
        transform: translateY(-1200px) scale(0.7);
    }

    80% {
        opacity: 0.7;
        -webkit-transform: translateY(0) scale(0.7);
        transform: translateY(0) scale(0.7);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
        transform: translate3d(0, 3000px, 0) scaleY(5);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
        transform: translate3d(0, -20px, 0) scaleY(0.9);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
        transform: translate3d(0, 10px, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
        transform: translate3d(0, -5px, 0) scaleY(0.985);
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
        transform: translate3d(0, -3000px, 0) scaleY(3);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
        transform: translate3d(0, 25px, 0) scaleY(0.9);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
        transform: translate3d(0, -10px, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
        transform: translate3d(0, 5px, 0) scaleY(0.985);
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.header {
    &__logo {
        animation: topIn 2s 2s forwards;
    }
}

.icons {
    &__title {
        animation: fadeInDown 1s 2s $cubic forwards;
    }

    &__icon {
        overflow: hidden;
    }
}
.hero__left {
    h1 {
        animation: swing-in-top-fwd 2s 1400m cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }

    p {
        animation: swing-in-top-fwd 2s 1620ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

        &:last-child {
            animation: swing-in-top-fwd 2s 1820ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        }
    }

    button {
        animation: swing-in-top-fwd 2s 1900ms cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    // h1,
    // p,

    button {
        opacity: 0;

        // animation-name: fadeIn;
        // animation-duration: 3000ms;
        // animation-delay: 1500ms;
        // animation-fill-mode: forwards;
        // animation-direction: normal;
        // animation-timing-function: $cubic;
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}
