// Utilities
@import '../styles/utils/_responsive.scss';
@import '../styles/utils/_mixins.scss';
@import '../styles/utils/_variabels.scss';
@import '../styles/animations/_pageIn.scss';
@import '../styles/animations/_pageOut.scss';

@import '../styles/utils/_keyframes.scss';
@import '../styles/utils/_animatecss.scss';
@import '../styles//preloader';

//components
@import '../styles/components/_header.scss';

@import '../styles//_hero.scss';
@import '../styles/_toggle.scss';
@import '../styles/_theme.scss';
@import '../styles/_docs.scss';
@import '../styles/components/_offcanvas.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

.w-350px {
    max-width: 350px button {
        margin-left: 20px;
    }
}

.cursor {
    mix-blend-mode: difference;
}

.container {
    width: 1280px;
    margin: 0 auto;

    &.url {
        @media (max-width: 768px) {
            max-width: 85%;

            button {
                margin-bottom: 1rem;
                margin-left: 0;
            }
        }
    }
}

.wrapper {
    display: flex;

    &__left,
    &__right {
        width: 50%;
    }
}

body {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
