@import url("https://fonts.googleapis.com/css?family=Gabriel+Sans:bold");
* {
  accent-color: #ff5800;
}

.logoicon {
  transform: translateX(10%);
}

body {
  overflow: hidden;
}

.initialHide {
  opacity: 0;
  animation: initialHide 500ms 2300ms ease forwards;
}
@keyframes initialHide {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  90% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.logo {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  background: #1e1e1e;
  position: fixed;
  z-index: 99999;
  animation: pageOut 3500ms 250ms cubic-bezier(0.97, 0.1, 0.51, 1) forwards;
  height: 0%;
}
@keyframes testAni {
  0% {
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}
@keyframes pageOut {
  0% {
    height: 0;
  }
  25% {
    height: 100%;
  }
  85% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.logo__text {
  color: #e7e7d7;
  position: absolute;
  font-size: 8rem;
  animation: textOut 500ms 3250ms ease forwards;
  transform: translateY(-24%);
}
@media screen and (min-width: 2791px) and (max-width: 3840px) {
  .logo__text {
    font-size: 12rem;
  }
}
@media screen and (min-width: 2400px) and (max-width: 2790px) {
  .logo__text {
    font-size: 10rem;
  }
}
@media screen and (max-width: 1920px) {
  .logo__text {
    font-size: 6rem;
  }
}
@media screen and (max-width: 1440px) {
  .logo__text {
    font-size: 5.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .logo__text {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .logo__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .logo__text {
    font-size: 3rem;
  }
}
.logo__text .r,
.logo__text .e,
.logo__text .m,
.logo__text .c,
.logo__text .o,
.logo__text .s,
.logo__text .t,
.logo__text .tt,
.logo__text .oo,
.logo__text .ee,
.logo__text .tt,
.logo__text .eee,
.logo__text .n {
  opacity: 0;
  scale: 0.85;
  animation: text 1s ease forwards;
}
.logo__text .s {
  animation-delay: 2400ms;
}
.logo__text .t {
  animation-delay: 2425ms;
}
.logo__text .o {
  animation-delay: 2425ms;
}
.logo__text .oo {
  animation-delay: 2420ms;
}
.logo__text .c {
  animation-delay: 2370ms;
}
.logo__text .e {
  animation-delay: 2435ms;
}
.logo__text .m {
  animation-delay: 2435ms;
}
.logo__text .tt {
  animation-delay: 2445ms;
}
.logo__text .ee {
  animation-delay: 2445ms;
}
.logo__text .n {
  animation-delay: 2250ms;
}
.logo__text .eee {
  animation-delay: 2460ms;
}
.logo__text .tt {
  animation-delay: 2460ms;
}
.logo__text .r {
  animation-delay: 2460ms;
}
.logo__right, .logo__left {
  fill: #e7e7d7;
  scale: 0.1;
  opacity: 0;
}
.logo__left {
  animation: leftPath 1s 550ms ease forwards, leftPathTwo 1500ms 2150ms ease forwards;
}
.logo__right {
  animation: rightPath 1s 550ms ease forwards, rightPathTwo 1500ms 2150ms ease forwards;
  margin-top: -15px;
}

@keyframes textOut {
  to {
    position: absolute;
    transform: translateY(-1000%);
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes leftPath {
  0% {
    opacity: 0;
    scale: 0;
    filter: blur(10px);
  }
  50% {
    opacity: 0;
    scale: 0;
    filter: blur(10px);
    scale: 0;
  }
  75% {
    opacity: 0;
    scale: 0;
    filter: blur(10px);
    scale: 0;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    scale: 0.1;
    transform: translate(0, 0);
  }
}
@keyframes rightPath {
  0% {
    opacity: 0;
    scale: 0;
    filter: blur(10px);
  }
  50% {
    opacity: 0;
    scale: 0;
    filter: blur(10px);
    scale: 0;
  }
  75% {
    opacity: 0;
    scale: 0;
    filter: blur(10px);
    scale: 0;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    scale: 0.1;
    transform: translate(0, 0);
  }
}
@keyframes leftPathTwo {
  0% {
    opacity: 1;
    filter: blur(0);
    scale: 0.1;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
    scale: 0.1;
    transform: translate(-200px, 0);
  }
  75% {
    opacity: 1;
    filter: blur(0);
    scale: 0.1;
    transform: translate(-200px, 0);
  }
  100% {
    transform: translate(100px, -1000%);
    filter: blur(10px);
    opacity: 0;
    scale: 0.3;
  }
}
@keyframes rightPathTwo {
  0% {
    opacity: 1;
    filter: blur(0);
    scale: 0.1;
    transform: translate(0, -20px);
  }
  50% {
    opacity: 1;
    filter: blur(0);
    scale: 0.1;
    transform: translate(200px, -20px);
  }
  75% {
    opacity: 1;
    filter: blur(0);
    scale: 0.1;
    transform: translate(200px, -20px);
  }
  100% {
    transform: translate(-100px, -1000%);
    filter: blur(10px);
    opacity: 0;
    scale: 0.3;
  }
}
.themered {
  background-color: #fd8e8e;
}

.scroll-height {
  height: 200vh;
  right: 0;
}

.hero__left {
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  animation: heroIn 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hero__left h1 {
  font-size: 4rem;
}
@media (max-width: 768px) {
  .hero__left h1 {
    font-size: 2.5rem;
  }
}
.hero__left p,
.hero__left button,
.hero__left h1 {
  opacity: 0;
  animation: fadeIn 1s 400ms ease-in-out forwards;
}
.hero__left p {
  animation-delay: 500ms;
}
.hero__left p:last-child {
  animation-delay: 700ms;
}
.hero__left button {
  animation-delay: 600ms;
}

button {
  font-size: 18px;
  line-height: 1.4;
  height: 60px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: 500;
  padding: 0 30px;
  margin: 0;
  background-color: transparent;
  background-image: none;
  border: #fd8e8e;
  border-radius: 30px;
  border: 2px solid #fd8e8e;
  color: #fd8e8e;
  outline: 0;
  text-decoration: none;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
button:hover {
  background-color: #fd8e8e;
  color: #2e304b;
}

@keyframes heroIn {
  0% {
    width: 100%;
    position: absolute;
  }
  99% {
    position: absolute;
  }
  100% {
    width: 50vw;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.offcanvas-menu {
  padding: 40px;
  font-size: 3.1rem;
  font-weight: 600;
}
.offcanvas-menu li {
  transform: skew(2deg);
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.offcanvas-open .toggle:after {
  content: "";
  opacity: 0;
  width: 700px;
  height: 700px;
  background-color: #b755fd;
  border-radius: 100%;
  filter: blur(100px);
  position: absolute;
  right: 0;
  bottom: 0;
  animation: showBlur 20s;
}

.toggle {
  position: absolute;
  right: 0;
  top: 25px;
  cursor: pointer;
  z-index: 150;
  display: flex;
  margin-right: 32px;
  transition: 250ms ease all;
}
@keyframes showBlur {
  0% {
    scale: 1;
  }
  15% {
    opacity: 1;
  }
  100% {
    background-color: #b755fd;
    transform: rotate(45deg);
    scale: 1.2;
  }
}
.toggle:hover span {
  transition-delay: 150ms;
  transition: 250ms ease-in-out all;
  scale: 1.1;
}
.toggle:hover span:nth-child(1) {
  transition-delay: 0;
}
.toggle:hover span:last-child {
  transition-delay: 250ms;
}
.toggle:hover svg {
  scale: 1.1;
}
.toggle span:hover {
  scale: 1.1;
  transform: skew(15deg);
  transform: rotate(3deg);
}
.toggle span:nth-child(2) {
  transition-delay: 150ms;
}
.toggle span:last-child {
  transition-delay: 250ms;
}
@keyframes hamburgerIn {
  0% {
    opacity: 0;
    transform: rotate(-15deg);
    scale: 3;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    scale: 1;
  }
}
.toggle input {
  display: none;
}
.toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
  animation: hamburgerIn 2s ease-in-out;
}
.toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease;
}
.toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.toggle input + div div span:first-child {
  top: 0;
}
.toggle input + div div span:first-child:before, .toggle input + div div span:first-child:after {
  top: 0;
}
.toggle input + div div span:last-child {
  bottom: 0;
}
.toggle input + div div span:last-child:before, .toggle input + div div span:last-child:after {
  bottom: 0;
}
.toggle input + div div span:before, .toggle input + div div span:after {
  content: "";
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: #000;
  position: absolute;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
  z-index: 15;
}
.toggle input + div div span:before {
  left: 0;
  transform-origin: 0 50%;
  transform: translate(1px, 0) scaleX(1.1);
}
.toggle input + div div span:after {
  right: 0;
  transform-origin: 100% 50%;
  transform: translate(-1px, 0) scaleX(1.1);
}
.toggle input + div svg {
  display: block;
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
}
.toggle input + div svg:nth-child(3) {
  transform: rotate(180deg) scale(1);
}
.toggle input:checked + div div {
  transform: rotate(90deg);
}
.toggle input:checked + div div span:first-child:before {
  transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}
.toggle input:checked + div div span:first-child:after {
  transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}
.toggle input:checked + div div span:last-child:before {
  transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}
.toggle input:checked + div div span:last-child:after {
  transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}
.toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  transform: rotate(90deg);
  stroke: #000;
}
.toggle input:checked + div svg:nth-child(3) {
  transform: rotate(270deg);
}

@media screen and (min-width: 768px) {
  .header .toggle {
    margin-right: 24px;
  }
}
.delay {
  animation: hamburgerIn 2s ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container.url {
    max-width: 85%;
  }
  .container.url button {
    margin-bottom: 1rem;
    margin-left: 0;
  }
}

body {
  background: #2e304b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}/*# sourceMappingURL=globals.css.map */