@import './_menu-transition.scss';
.logo {
	path {
		opacity: 0;
		transform: translateY(50px);
		animation-name: pathAnimation;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
		animation-fill-mode: forwards;

		&:not(:nth-child(1)):not(:nth-child(2)) {
			animation-delay: 2s;
		}
	}
}

nav {
	top: 50%;
	transform: translateY(-50%);
	right: 2rem;

	li {
		margin-bottom: 60px;

		cursor: pointer;
		a {
			&::after {
				content: '';
				transition: background-color 1s, width 1s;
				transition-timing-function: cubic-bezier(
					0.175,
					0.885,
					0.32,
					1.275
				);

				width: 0px;
				height: 2px;
				left: 0;
				position: absolute;
				bottom: 0;
				background-color: transparent;
			}

			&:hover {
				color: #f998ef;

				&::after {
					width: 100%;
					background-color: #f998ef;
				}
			}

			&.active {
				color: #f998ef;
			}
		}
		a {
			color: #626161;
			font-weight: 600;
			font-size: 1.5rem;
			position: relative;
			transition: 1s ease-in-out;
		}
	}
}

// .custom-padding {
// 	padding: 100px;
// 	margin: -80px;
// }

header {
	svg {
		opacity: 0;
		transform: translateY(50px);
		animation-name: pathAnimation;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
		animation-fill-mode: forwards;
		color: #fff;
	}
}

@keyframes pathAnimation {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
