@import './_menu-transition.scss';
.logo {
	path {
		opacity: 0;
		transform: translateY(50px);
		animation-name: pathAnimation;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
		animation-fill-mode: forwards;

		&:not(:nth-child(1)):not(:nth-child(2)) {
			animation-delay: 2s;
		}
	}
}

nav {
	top: 50%;
	transform: translateY(-50%);
	right: 2rem;

	li {
		margin-bottom: 60px;

		a {
			color: #343333;
			font-weight: 600;
			font-size: 1.5rem;
			cursor: pointer;

			&.active {
				color: #f998ef;
				border-bottom: 1px solid #f998ef;
			}
		}
	}
}

header {
	svg {
		opacity: 0;
		transform: translateY(50px);
		animation-name: pathAnimation;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
		animation-fill-mode: forwards;
		color: #fff;
	}
}

@keyframes pathAnimation {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
