@keyframes animateBlob {
	0% {
		transform: rotate(-17.38deg) scale(1);
		filter: blur(150px);
	}
	50% {
		transform: rotate(-17.38deg) scale(1.1);
		filter: blur(200px);
	}
	100% {
		transform: rotate(-17.38deg) scale(1);
		filter: blur(150px);
	}
}

.bigBlur::after {
	content: '';
	position: absolute;
	width: 723.06px;
	height: 723.06px;
	left: -365px;
	background: linear-gradient(
		180deg,
		rgba(0, 195, 255, 0.203) 60%,
		#ff29c3 100%
	);
	opacity: 0.8;
	filter: blur(150px);
	transform: rotate(-17.38deg);
	z-index: -1;
	animation: animateBlob 5s infinite;
}

.bg-heroBg {
	border: 1px solid rgba(255, 255, 255, 0.12);
	backdrop-filter: blur(15px);
}
.smallBlur::after {
	content: '';
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 800px;
	opacity: 0.2;
	z-index: -1;
	height: 800px;
	background: radial-gradient(
		circle at 50% 50%,
		rgba(76, 0, 255, 1),
		rgba(76, 0, 255, 0)
	);
	opacity: 0.8;
	filter: blur(150px);
	transform: rotate(-17.38deg);
	z-index: -1;
	animation: animateBlob 5s infinite;
}

.sally {
	position: absolute;
	width: 289px;
	height: 316px;
	right: 0;
	transform: translateX(-80%);
	background-image: url('/hero/Saly.png');
	background-size: cover;
	background-position: center;
}

.phone {
	top: 285px;
	left: 720px;
	width: 1012px;
	height: 830px;
	position: absolute;
	z-index: -1;
	scale: 0.4;
	background-image: url('/phone.png');
	background-size: cover;
	background-position: center;
	scale: 0.7;
}

.bottom {
	margin-top: 50%;
}

.custom-height {
	height: calc(100vh - 100px);
}
