$cubicBezier: cubic-bezier(0.22, 0.68, 0, 1.71);

.offcanvas-open {
    .toggle__inner::before {
        background: $blue;
        animation: menuOpen 2s $cubicBezier forwards;
    }

    .hero__left,
    .header__logo {
        p {
            animation: offcanvasBlur 2s $cubicBezier forwards;
        }

        .header__logo {
            animation: offcanvasBlur 2s $cubicBezier forwards;
        }

        button,
        h1 {
            animation: offcanvasBlur 2s $cubicBezier forwards;
        }
    }

    .hero__left {
        transition: 500ms ease-in-out scale;
        scale: 1.1;
    }
}

.toggle {
    &__inner {
        position: relative;

        &::after {
            content: '';
            width: 40px;
            height: 40px;
            background-color: transparent;
            border-radius: 50%;
            position: absolute;
            top: -12px;
            right: -32px;
            z-index: 100;
        }

        &::before {
            content: '';
            height: 125vh;
            width: 1px;
            position: absolute;
            right: -13px;
            right: -32px;
            top: 0;
            background-color: transparent;
            z-index: 100;
            margin-top: -100px;
        }
    }

    .hero__left {
        z-index: 150;
    }
}

@keyframes menuOpen {
    to {
        width: 50vw;
    }
}
