@layer components {
	.animate-spin-slow {
		animation: spin 20s linear infinite;
	}

	.stroke-dashoffset-animate {
		stroke-dashoffset: 0;
		animation: stroke-dashoffset-animate 5s ease-out infinite;
	}
}

.animate__delay-100ms {
	animation-delay: 100ms;
}

.animate__delay-250ms {
	animation-delay: 250ms;
}

.animate__delay-500ms {
	animation-delay: 500ms;
}

.animate__delay-600ms {
	animation-delay: 600ms;
}

.animate__delay-700ms {
	animation-delay: 700ms;
}

.animate__delay-750ms {
	animation-delay: 750ms;
}

.animate__delay-800ms {
	animation-delay: 800ms;
}

.animate__delay-900ms {
	animation-delay: 900ms;
}

.animate__delay-1000ms {
	animation-delay: 1000ms;
}

.animate__delay-1100ms {
	animation-delay: 1100ms;
}

.animate__delay-1200ms {
	animation-delay: 1200ms;
}

.animate__delay-1250ms {
	animation-delay: 1250ms;
}

.animate__delay-1300ms {
	animation-delay: 1300ms;
}

.animate__delay-1400ms {
	animation-delay: 1400ms;
}

.animate__delay-1500ms {
	animation-delay: 1500ms;
}

.animate__delay-1600ms {
	animation-delay: 1600ms;
}

@keyframes stroke-dashoffset-animate {
	to {
		stroke-dashoffset: 0;
	}
}

// .ball {
// 	position: absolute;
// 	width: 10px;
// 	height: 10px;
// 	border-radius: 50%;
// 	background-color: gray;
// 	filter: blur(0); /* No blur by default */
// 	transition: filter 0.3s;
// }

// .animate {
// 	&__initial {
// 		background-color: yellow;
// 		color: #333;
// 		display: inline-block;
// 		font-weight: 900;
// 		overflow: hidden;
// 		position: absolute;
// 		padding-left: 0.5rem;
// 		left: 270px;
// 		animation: openclose 5s ease-in-out infinite;
// 	}
// }

// #spin {
// 	color: yellow;
// }
// #spin:after {
// 	content: '';
// 	animation: spin 2s linear infinite;
// }

// .word {
// 	font-size: 3em;
// 	font-weight: bold;
// 	opacity: 0;
// 	position: absolute;
// 	width: 100%;
// 	text-align: center;
// }

// .w1 {
// 	-webkit-animation: w1anim 20s infinite;
// 	animation: w1anim 20s infinite;
// }

// .w2 {
// 	-webkit-animation: w2anim 20s infinite;
// 	animation: w2anim 20s infinite;
// }

// @keyframes w1anim {
// 	0% {
// 		opacity: 0;
// 	}
// 	10% {
// 		opacity: 1;
// 	}
// 	20% {
// 		opacity: 0;
// 	}
// }

// @keyframes w2anim {
// 	20% {
// 		opacity: 0;
// 	}
// 	30% {
// 		opacity: 1;
// 	}
// 	40% {
// 		opacity: 0;
// 	}
// }

// @keyframes heroSlideUp {
// 	0% {
// 		transform: tralsateY(0%);
// 	}

// 	100% {
// 		transform: translateY(-100%);
// 	}
// }
