@keyframes slideleft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-128px);
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translate(125px, -19px);
    }
}
@keyframes left {
    0% {
        filter: drop-shadow(10px 9px 4px rgba(0, 0, 0, 0.1));
    }

    80% {
        filter: drop-shadow(10px 9px 4px rgba(0, 0, 0, 0.1));
    }
    100% {
        transform: translateX(-128px);
    }
}

@keyframes pageScaleOut {
    0% {
        scale: 1;
    }
    100% {
        scale: 0;
        opacity: 0;
    }
}
@keyframes right {
    0% {
        filter: drop-shadow(10px 9px 4px rgba(0, 0, 0, 0.1));
    }

    80% {
        filter: drop-shadow(10px 9px 4px rgba(93, 91, 91, 0.1));
    }
    100% {
        transform: translate(125px, -15px);
    }
}
@keyframes logoScaleIn {
    from {
        scale: 0;
    }
    to {
        scale: 0.1;
    }
}
@keyframes fullHide {
    0% {
        opacity: 0;
        font-size: calc(inherit / 100 * 90);
    }
    75% {
        opacity: 0;
    }
    100% {
        scale: 1;
        font-size: calc(inherit * 1);
        opacity: 1;
    }
}
@keyframes initialFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes initialScale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.loadcon {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate 1.2s linear infinite;
    background-color: #ff5500;
    background-image: linear-gradient(#6359f8, #9c32e2, #f36896, #ff0b0b, #ff5500, #ff9500, #ffb700);
}

.loadcon span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #ff5500;
    background-image: linear-gradient(#6359f8, #9c32e2, #f36896, #ff0b0b, #ff5500, #ff9500, #ffb700);
}

.loadcon::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #0d0d0d;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
