.docs {
	background-color: #0d0d0d !important;
	.header__logo {
		path {
			fill: white !important;
		}
	}

	.aside {
		* {
			animation: docsIn 750ms 500ms $cubic forwards;
			opacity: 0;
		}
	}

	code {
		transform: translateX(-4%);
	}

	.main-content {
	}

	&::before,
	&::after {
		display: none;
	}

	.header__logo {
		position: absolute;
		left: 80px;
		z-index: 100;
		scale: 1.5;
		max-width: 160px;
		max-height: 34px;
		transform: translate(-19px, -19px);
		animation: unset;
	}
}

.intro-heading {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: lighten(#191919, 25%);
	padding-bottom: 0.5rem;
	scroll-margin-top: 11px;
}

.aside {
	width: 25%;
	border-radius: 1px solid white;
}

.styled-scrollbar {
	border-bottom: 1px solid lighten(#191919, 25%);
}
