.docs {
	.aside {
		* {
			animation: docsIn 750ms 500ms $cubic forwards;
			opacity: 0;
		}
	}

	code {
		transform: translateX(-4%);
	}

	.main-content {
	}

	&::before,
	&::after {
		display: none;
	}

	.header__logo {
		position: absolute;
		left: 80px;
		z-index: 100;
		scale: 1.5;
		max-height: 75px;
		transform: translatey(-17px);
		animation: unset;
	}
}

.aside {
	width: 25%;
	border-radius: 1px solid white;
}
