$red: #fd8e8e;
$blue: #2e304b;

$color-primary: $red;
$color-secondary: $blue;

.themered {
	background-color: $red;
}

.link-icon {
	position: absolute;
	right: 0;
	top: 10px;
	transform: rotate(5deg);
	width: 1rem;
}

.scroll-height {
	height: 100dvh;
	right: 0;
}
$off-white: #f8f8f8;
$fade-duration: 2s;
$fade-delay-step: 10ms;
$min-scale: 0.95;
$max-scale: 1.1;
$icon-delay: 500ms;

@function random-range($min, $max) {
	@return random() * ($max - $min) + $min;
}
$off-white: #f8f8f8;
$fade-duration: 2s;
$fade-delay-step: 100ms;
$min-scale: 0.95;
$max-scale: 1.1;
$icon-delay: 2500ms;
$max-translate: 10px;

@function random-range($min, $max) {
	@return random() * ($max - $min) + $min;
}

.grid-col-container {
	grid-template-columns: repeat(6, 1fr);

	@media (min-width: 2560px) {
		grid-template-columns: repeat(8, 1fr);
	}

	@media (max-width: 1280px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (max-width: 1000px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.icons {
	$num-icons: 30;
	gap: 12px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 12px;
		background-color: $off-white;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		padding: 15px;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) all;

		@media screen and (max-width: 768px) {
			padding: 0.4rem;
		}

		&:hover {
			transform: scale(1.3);
		}

		@for $i from 1 through $num-icons {
			&:nth-child(#{$i}) {
				animation: fade
					$fade-duration
					forwards
					cubic-bezier(0.175, 0.885, 0.32, 1.275)
					calc(random() * $fade-duration);
				animation-delay: calc(random() * $icon-delay);
			}
		}

		svg {
			min-height: 4rem;
			max-height: fit-content;
			transition: 250ms ease-in-out all;
			padding: 0.5rem;

			@media screen and (min-width: 1920px) {
				min-height: 6rem;
				max-height: 6rem;
			}
			@media screen and (max-width: 1920px) {
				max-height: 4rem;
				padding: 0.8rem;
			}

			@media screen and (max-width: 768px) {
				max-height: 3rem;
				padding: 0.8rem;
			}
			@media screen and (max-width: 477px) {
				max-height: 1.5rem;
				padding: 0.5rem;
			}

			&:hover {
				scale: 1.07;
				transform: rotate(calc(-3deg + (var(--random) * 6deg)));
			}
		}
	}
}

@keyframes fade {
	0% {
		transform: scale(random-range($min-scale, 1))
			translate(
				calc(random() * 2 - 1) * $max-translate,
				calc(random() * 2 - 1) * $max-translate
			);
	}

	75% {
		opacity: 1;
		transform: scale(random-range($min-scale, $max-scale)) translate(0, 0);
	}

	100% {
		transform: scale(1) translate(0, 0);
	}
}

.hero {
	&__left {
		transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
		animation: heroIn 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

		h1 {
			font-size: 4rem;

			@media (max-width: 768px) {
				font-size: 2.5rem;
			}
		}
		p,
		button,
		h1 {
			opacity: 0;
			animation: fadeIn 1s 400ms ease-in-out forwards;
		}
		p {
			animation-delay: 500ms;

			&:last-child {
				animation-delay: 700ms;
			}
		}

		button {
			animation-delay: 600ms;
		}
	}
}

button {
	font-size: 18px;
	line-height: 1.4;
	height: 60px;
	font-size: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	font-weight: 500;
	padding: 0 30px;
	margin: 0;
	background-color: transparent;
	background-image: none;
	border: #fd8e8e;
	border-radius: 30px;
	border: 2px solid $red;
	color: $red;
	outline: 0;
	text-decoration: none;
	transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
		color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
		border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
		background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		background-color: $red;
		color: $blue;
	}
}

@keyframes heroIn {
	0% {
		width: 100%;
		position: absolute;
	}

	99% {
		position: absolute;
	}
	100% {
		width: 50vw;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
