@import '../utillities/_loader-animations.scss';
@import url('https://fonts.googleapis.com/css?family=Gabriel+Sans:bold');
$animationDuration: 1s;
$bezierInitial: ease;
$bezierOne: ease;
$letterDelay: 50ms;
$black: #1e1e1e;
$off-white: #e7e7d7;
$white: $off-white;
$brand-coloor--one: #fd8e8e;
$brand-coloor--one: #ff6e00;
$brand-coloor--one: #ff5800;

$color-primary: $off-white;

$animatonDuration: 1s;
$animationDelay: 1s;
* {
	accent-color: $brand-coloor--one;
}

.logo {
	position: relative;
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	background: $black;
	position: fixed;
	animation: pageIn 500ms 250ms cubic-bezier(0.97, 0.1, 0.51, 1) forwards,
		pageIn 500ms 2650ms cubic-bezier(0.97, 0.1, 0.51, 1) forwards reverse;

	@keyframes pageIn {
		0% {
			height: 0;
			border-radius: 10%;
		}

		99% {
			visibility: visible;
		}

		100% {
			border-radius: 0%;
			visibility: hidden;
			height: 100vh;
		}
	}

	&__text {
		color: $white;
		position: absolute;
		font-size: 7rem;
		animation: textOut 300ms 2700ms $bezierInitial forwards;
		transform: translateY(-24%);

		@media screen and (max-width: 1440px) {
			font-size: 5.2rem;
		}

		@media (max-width: 768px) {
			font-size: 4rem;
		}

		@media (max-width: 1024px) {
			font-size: 5rem;
		}

		.r,
		.e,
		.m,
		.c,
		.o,
		.s,
		.t,
		.tt,
		.oo,
		.ee,
		.tt,
		.eee,
		.n {
			opacity: 0;
			scale: 0.85;
			animation: text $animationDuration $bezierOne forwards;
		}

		.s {
			animation-delay: calc(1150ms + 950ms);
		}
		.t {
			animation-delay: calc(1150ms + 975ms);
		}
		.o {
			animation-delay: calc(1150ms + 975ms);
		}
		.oo {
			animation-delay: calc(1150ms + 970ms);
		}
		.c {
			animation-delay: calc(1090ms + 970ms);
		}
		.e {
			animation-delay: calc(1150ms + 985ms);
		}
		.m {
			animation-delay: calc(1150ms + 985ms);
		}
		.tt {
			animation-delay: calc(1150ms + 995ms);
		}

		.ee {
			animation-delay: calc(1150ms + 995ms);
		}
		.n {
			animation-delay: calc(1150ms + 800ms);
		}
		.eee {
			animation-delay: calc(1150ms + 1010ms);
		}

		.tt {
			animation-delay: calc(1150ms + 1010ms);
		}
		.r {
			animation-delay: calc(1150ms + 1010ms);
		}
	}

	&__right,
	&__left {
		fill: $color-primary;
		scale: 0.1;
		opacity: 0;
	}

	&__left {
		animation: leftPath 1s 550ms $bezierOne forwards,
			leftPathTwo $animationDuration calc($animationDelay + 1s) $bezierOne
				forwards;
	}

	&__right {
		animation: rightPath 1s 550ms $bezierOne forwards,
			rightPathTwo $animationDuration calc($animationDelay + 1s)
				$bezierOne forwards;
	}
}

@keyframes textOut {
	to {
		position: absolute;
		transform: translateY(-1000%);
	}
}

@keyframes text {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes leftPath {
	0% {
		opacity: 0;
		scale: 0;
		filter: blur(10px);
	}

	50% {
		opacity: 0;
		scale: 0;
		filter: blur(10px);
		scale: 0;
	}

	75% {
		opacity: 0;
		scale: 0;
		filter: blur(10px);
		scale: 0;
	}

	100% {
		opacity: 1;
		filter: blur(0);
		scale: 0.1;
		transform: translate(0, 0);
	}
}

@keyframes rightPath {
	0% {
		opacity: 0;
		scale: 0;
		filter: blur(10px);
	}

	50% {
		opacity: 0;
		scale: 0;
		filter: blur(10px);
		scale: 0;
	}

	75% {
		opacity: 0;
		scale: 0;
		filter: blur(10px);
		scale: 0;
	}

	100% {
		opacity: 1;
		filter: blur(0);
		scale: 0.1;
		transform: translate(0, 0);
	}
}

@keyframes leftPathTwo {
	0% {
		opacity: 1;
		filter: blur(0);
		scale: 0.1;
		transform: translate(0, 0);
	}

	50% {
		opacity: 1;
		filter: blur(0);
		scale: 0.1;
		transform: translate(-200px, 0);
	}

	75% {
		opacity: 1;
		filter: blur(0);
		scale: 0.1;
		transform: translate(-200px, 0);
	}

	100% {
		transform: translate(100px, -500%);
		filter: blur(10px);
		opacity: 0;
		scale: 0.3;
	}
}

@keyframes rightPathTwo {
	0% {
		opacity: 1;
		filter: blur(0);
		scale: 0.1;
		transform: translate(0, 0);
	}

	50% {
		opacity: 1;
		filter: blur(0);
		scale: 0.1;
		transform: translate(200px, 0);
	}

	75% {
		opacity: 1;
		filter: blur(0);
		scale: 0.1;
		transform: translate(200px, 0);
	}

	100% {
		transform: translate(-100px, -500%);
		filter: blur(10px);
		opacity: 0;
		scale: 0.3;
	}
}

// .animationPartTwo {
// 	position: relative;

// 	.logo {
// 		&__text {
// 			transform: translateY(-31px);
// 			$textInDuration: 1150ms;
// 			$delayDuration: calc(200ms * 2.5);
// 			animation: initialHideScale $bezierOne forwards;
// 			font-size: 6.6rem;

// 			@media screen and (max-width: 1199px) {
// 				font-size: 2.4rem;
// 			}
// 			@media screen and (min-width: 1200px) and (max-width: 1499px) {
// 				font-size: 3.4rem;
// 			}
// 			@media screen and (min-width: 1500px) and (max-width: 1920px) {
// 				font-size: 5rem;
// 			}
// 			@media screen and (min-width: 2560px) {
// 				font-size: 8.5rem;
// 			}

// 			@media screen and (max-width: 768px) {
// 				display: none;
// 			}

// 			.r,
// 			.e,
// 			.m,
// 			.c,
// 			.o,
// 			.s,
// 			.t,
// 			.tt,
// 			.oo,
// 			.ee,
// 			.tt,
// 			.eee,
// 			.n {
// 				opacity: 0;
// 				animation: fadeIn 400ms ease-in-out forwards;
// 			}

// 			.s {
// 				animation-delay: calc( ****** + 700ms);50ms;
// 			}
// 			.t {
// 				animation-delay: calc( ****** + 700ms);$letterDelay + 100ms;
// 			}
// 			.o {
// 				animation-delay: calc( ****** + 700ms);$letterDelay + 200ms;
// 			}
// 			.oo {
// 				animation-delay: calc( ****** + 700ms);$letterDelay + 200ms;
// 			}
// 			.c {
// 				animation-delay: calc( ****** + 700ms);$letterDelay + 220ms;
// 			}
// 			.e {
// 				animation: fullHide 490ms ease-in-out forwards;
// 			}
// 			.m {
// 				animation: fullHide 475ms ease-in-out forwards;
// 			}
// 			.tt {
// 				animation: fullHide 475ms ease-in-out forwards;
// 			}

// 			.ee {
// 				animation: fullHide 500ms ease-in-out forwards;
// 			}
// 			.n {
// 				animation: fullHide 500ms ease-in-out forwards;
// 			}
// 			.eee {
// 				animation: fullHide 480ms ease-in-out forwards;
// 			}

// 			.tt {
// 				animation: fullHide 475ms ease-in-out forwards;
// 			}
// 			.r {
// 				animation: fullHide 550ms ease-in-out forwards;
// 			}
// 		}
// 	}
// }
// .logo {
// 	z-index: 1000;

// 	&__left,
// 	&__Right {
// 		animation: initialFade 1s 250ms $bezierOne forwards,
// 			initialScale 1s 250ms $bezierOne forwards;
// 	}
// }

// body:not(.animationPartTwo) {
// 	.logo {
// 		svg {
// 			opacity: 0;
// 			transform: scale(0);
// 			animation: initialFade 1s 400ms $bezierOne forwards,
// 				initialScale 1s 400ms $bezierOne forwards;
// 		}

// 		&__left,
// 		&__right {
// 		}

// 		&__text {
// 			opacity: 0;
// 		}
// 	}
// }
// .animationPartTwo {
// 	.logo {
// 		//		animation: pageIn 1s 3s cubic-bezier(0.97, 0.1, 0.01, 1) forwards
// 		//reverse;

// 		&__text {
// 			opacity: 1;

// 			transform-origin: top;
// 		}

// 		svg {
// 			transform-origin: top;

// 			z-index: 10;
// 		}

// 		&__left {
// 			//			animation: left 1s 250ms cubic-bezier(1, 0.11, 0, 1.03) forwards;
// 		}
// 		&__right {
// 			//			animation: right 1s 250ms cubic-bezier(1, 0.11, 0, 1.03) forwards;
// 		}
// 	}
// }
// @keyframes left {
// 	0% {
// 		transform: translateX(0);
// 	}
// 	100% {
// 		transform: translateX(-100%);
// 	}
// }

// .logo {
// 	position: relative;
// 	display: grid;
// 	place-items: center;
// 	width: 100vw;
// 	height: 100vh;
// 	background: $black;
// 	position: fixed;
// 	animation: pageIn 750ms cubic-bezier(0.97, 0.1, 0.01, 1) forwards;

// 	&__text {
// 		color: $white;
// 		position: absolute;
// 		scale: 0.9;
// 	}

// 	&__right,
// 	&__left {
// 		fill: $color-primary;
// 		scale: 0.1;
// 	}
// }

// @keyframes dontShowInitial {
// 	0% {
// 		opacity: 0;
// 	}

// 	90% {
// 		opacity: 0;
// 	}

// 	100% {
// 		opacity: 1;
// 	}
// }

// @keyframes letterShow {
// 	from {
// 		opacity: 0;
// 	}

// 	to {
// 		opacity: 1;
// 	}
// }

// @keyframes scaleIn {
// 	from {
// 		scale: 0;
// 	}
// 	to {
// 		scale: 0.1;
// 	}
// }
// @keyframes SfadeIn {
// 	from {
// 		opacity: 0;
// 		scale: 0;
// 	}
// 	to {
// 		scale: 1;
// 		opacity: 1;
// 	}
// }
// @keyframes fadeIn {
// 	from {
// 		opacity: 0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }

// @keyframes pathSlideLeft {
// 	0% {
// 		transform: translateX(0);
// 	}
// 	100% {
// 		transform: translateX(-155px);
// 	}
// }

// @keyframes pathSlideRight {
// 	0% {
// 		transform: translateX(0);
// 	}
// 	100% {
// 		transform: translate(120px, -20px);
// 	}
// }

// @keyframes pageIn {
// 	0% {
// 		height: 0;
// 		border-radius: 40px;
// 		border-radius: 10px;
// 	}

// 	100% {
// 		height: 100vh;
// 		border-radius: 0;
// 	}
// }

// @keyframes pageOut {
// 	0% {
// 		height: 100%;
// 		position: absolute;
// 	}

// 	100% {
// 		position: absolute;
// 		height: 50%;
// 	}
// }

// @keyframes initialHideScale {
// 	0% {
// 		scale: 0;
// 	}
// 	75% {
// 		scale: 0;
// 	}
// 	100% {
// 		scale: 1;
// 	}
// }
// @keyframes slideleft {
// 	0% {
// 		transform: translateX(0);
// 	}
// 	100% {
// 		transform: translateX(-128px);
// 	}
// }
// @keyframes slideRight {
// 	0% {
// 		transform: translateX(0);
// 	}
// 	100% {
// 		transform: translate(125px, -19px);
// 	}
// }
// @keyframes left {
// 	0% {
// 		filter: drop-shadow(10px 9px 4px rgba(0, 0, 0, 0.1));
// 	}

// 	80% {
// 		filter: drop-shadow(10px 9px 4px rgba(0, 0, 0, 0.1));
// 	}
// 	100% {
// 		transform: translateX(-128px);
// 	}
// }

// @keyframes pageScaleOut {
// 	0% {
// 		scale: 1;
// 	}
// 	100% {
// 		scale: 0;
// 		opacity: 0;
// 	}
// }
// @keyframes right {
// 	0% {
// 		filter: drop-shadow(10px 9px 4px rgba(0, 0, 0, 0.1));
// 	}

// 	80% {
// 		filter: drop-shadow(10px 9px 4px rgba(93, 91, 91, 0.1));
// 	}
// 	100% {
// 		transform: translate(125px, -15px);
// 	}
// }
// @keyframes logoScaleIn {
// 	from {
// 		scale: 0;
// 	}
// 	to {
// 		scale: 0.1;
// 	}
// }
// @keyframes fullHide {
// 	0% {
// 		opacity: 0;
// 		font-size: calc(inherit / 100 * 90);
// 	}
// 	75% {
// 		opacity: 0;
// 	}
// 	100% {
// 		scale: 1;
// 		font-size: calc(inherit * 1);
// 		opacity: 1;
// 	}

// }
// @keyframes initialFade {
// 	0% {
// 		opacity: 0;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }
// @keyframes initialScale {
// 	0% {
// 		transform: scale(0);
// 	}
// 	100% {
// 		transform: scale(1);
// 	}
// }
