@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'utillities/_variables.scss';
@import 'utillities/_mixins.scss';
@import 'utillities/_colors.scss';
@import 'utillities/_typography.scss';
@import 'utillities/_animation.scss';

// compoonents
@import 'components/_hero.scss';
@import 'components/_header.scss';

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.light {
	body {
		background-color: #fff;

		.text-offWhite {
			color: #000;
		}

		svg {
			color: #000 !important;
		}
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.circle {
	mask-origin: content-box;
	mask-repeat: no-repeat;
	pointer-events: none;
	position: absolute;
	$duration: 0.1s;
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	background: #fff;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 20.53333vw;
	margin-top: -30px;
	margin-left: -30px;
}

.grow {
	mix-blend-mode: difference;
	position: relative;
}
