@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'utillities/_variables.scss';
@import 'utillities/_mixins.scss';
@import 'utillities/_colors.scss';
@import 'utillities/_typography.scss';
@import 'utillities/_animation.scss';

// compoonents
@import 'components/_hero.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

$size: 0px;

.circle {
  background: #eb5939;
  left: 0;
  --x: 0;
  --y: 0;
  --size: #{$size};
  -webkit-mask-image: url(assets/icons/test-mask.svg);
  mask-image: url(assets/icons/test-mask.svg);
  -webkit-mask-origin: content-box;
  mask-origin: content-box;
  -webkit-mask-position: calc(var(--x) - var(--size) / 2) calc(var(--y) - var(--size) / 2), center;
  mask-position: calc(var(--x) - var(--size) / 2) calc(var(--y) - var(--size) / 2), center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: var(--size), contain;
  mask-size: var(--size), contain;
  min-height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 5;

  &--grow {
    width: 100px;
    height: 100px;
  }
}
